extends layout

block content
    h1= title

    form(method="POST", action="")
        div.form-group
            label(for="name") Name:
            input#title.form-control(
                type="text",
                placeholder="Name of the item",
                name="name",
                value=undefined === item ? "" : item.name
            )
        div.form-group
            label(for="description") Description:
            input#title.form-control(
                type="text",
                placeholder="Description of the item",
                name="description",
                required="true",
                value=undefined === item ? "" : item.description
            )
        div.form-group
            label Category:
            div(style='display:flex; gap:10px; flex-wrap:wrap')
                each category in categories
                    div
                        input.checkbox-input(
                            type='checkbox',
                            name='category',
                            id=category._id,
                            value=category._id,
                            checked=category.checked
                        )
                        label(for=category._id) #{category.name}
        div.form-group
            label(for="price") Price:
            input#title.form-control(
                type="text",
                placeholder="Price of the item",
                name="price",
                required="true",
                value=undefined === item ? "" : item.price
            )
        div.form-group
            label(for="stock") Stock:
            input#title.form-control(
                type="text",
                placeholder="Stock of the item",
                name="stock",
                required="true",
                value=undefined === item ? "" : item.stock
            )
            
        button.btn.btn-primary(type='submit') Submit 

        if errors
            ul
                each error in errors
                    li!= error.msg
