extends layout

block content
  h1  #{itemDetails.name}
  a(href=itemDetails.category.url) #{itemDetails.category.name}
  h3  #[em Description: ] #{itemDetails.description}
  h3  #[em Price: ] #{itemDetails.price}
  h3  #[em Stock: ] #{itemDetails.stock}

