extends layout

block content
  h1  #{itemDetails.name}
  h4  #[strong Category: ]  
      each category, index in itemDetails.category 
        a(href=category.url) #{category.name}
  h4  #[strong Description: ] #{itemDetails.description}
  h4  #[strong Price: ] #{itemDetails.price}
  h4  #[strong Stock: ] #{itemDetails.stock}

  hr
  p
  a(href=itemDetails.url+'/delete') Delete Item

